{% extends 'padre.html' %}

{% block contenidoquecambia %}

    <h1> Lista de Tickets </h1>     

    <ul>

    
    {% for ticket in  tickets %}
        <li>
            {{ticket}}
        </li>
        <div style="display:flex ;column-gap: 5px;">
            
            <form action ="{% url 'eliminarTicket' ticket.id %}" method = "post">{% csrf_token %}
                <button type ="submit">Eliminar</button>

            </form>
            <Button>
                <a href="{% url 'editarTicket' ticket.id %}">Editar</a>
            </Button>
        </div>
        
    {% endfor %}
        
    </ul>

    <a href="ticket-formulario"> Crear Ticket</a>

        
{% endblock contenidoquecambia %}